/*Navigation Bar Font*/
.navbar-brand {
  font-size: 20px;
   font-family: 'BebasNeue';
   font-weight: normal;
   font-style: normal;
}
}
/*Navigation Bar Logo*/
.logo{
  margin-right: 10px
}
/* Navigation Bar Color*/
.navbar{
  background-image: linear-gradient(to right, #ce73f0,#d3a6e3,#d3a6e3, #e1c7eb, #e1c7eb,#e1c7eb, #e1c7eb)

  }
  #Faiza {
    border: solid black;
  }
  #Lillian {
    border: solid black;

}
h1 {font-family: ‘Helvetica’, monospace;
 }

 h2 {font-family: ‘Helvetica’, monospace;
  }

 body {
   padding-top: 3rem;
 }

 .starter-template {
   padding: 3rem 1.5rem;
   text-align: center;

}
.container {
  position: relative;
  width: 100%;
}
.overlay {
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: ;
    height: 100%;
    width: 50%;
    opacity: 0;
    transition: .5s ease;
    background-color:rgb(218,112,214);
  }

.container:hover .overlay {
    opacity: 0.3;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  #Lizzy{
      border: solid black;
  }

}
#Lizzy:hover {
  background-color: Purple;
}

.carousel{
  width: 450px!important;
}

.img-responsive {
position:absolute!important;
right: 0!important;
}
