body {
  padding-top: 3rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
h1 {font-family: ‘Helvetica’, monospace;
 }
#burger {
  border: solid black;
}
#bbq {
  border: solid black;
}
#ethos {
  border: solid black;
}
.navbar{
  background-image: linear-gradient(to right, #ce73f0,#d3a6e3,#d3a6e3, #e1c7eb, #e1c7eb,#e1c7eb, #e1c7eb)
